@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.telaAdicionarPalavra{
    height: calc(100vh - 165px);
}

.telaAdicionarPalavra__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 16px;
}

.telaAdicionarPalavra__conteudo___texto{
    resize: none;
    border: none;
    width: 664px;
    height: 415px;
    border-radius: 10px;
    margin-bottom: 24px;
    font-size: 32px;
    color: #0A3871;
    background-color: #F3F5FC;
}

.telaAdicionarPalavra__conteudo___texto:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.telaAdicionarPalavra__conteudo___botoes{
    display: flex;
    column-gap: 16px;
}

.telaAdicionarPalavra__conteudo___botao{
    height: 67px;
    width: 332px;
    border-radius: 24px;
    padding: 24px;
}

.telaAdicionarPalavra__conteudo___botao:nth-child(1){
    background: #0A3871;
    color: #F3F5FC;
    border: none;
}

.telaAdicionarPalavra__conteudo___botao:nth-child(2){
    color: #0A3871;
    background-color: #F3F5FC;
    border-color: #0A3871;
}

@media screen and (max-width: 670px){
    .telaAdicionarPalavra__conteudo___texto{
        width: 300px;
    }

    .telaAdicionarPalavra__conteudo___botoes{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .telaAdicionarPalavra {
        height: calc(100vh - 145px);
    }
}